<!-- Text -->
<div class="name-field" 
	lucondition="{{field.condition}}"
	ng-class="field.visible == 'true' && 'show' || 'hide'"
	>
    <label>{{field.label}}</label>
    <input type="number" ng-model="userdata[field.name]"   
    	luvalidation
    	data-val="{{field.name}}"
		data-validate="validate(obligatoire, nombre)">

    <small class="error" for="{{field.name}}">{{field.error}}</small>
</div>

<hr lucondition="{{field.condition}}" 
ng-class="field.visible == 'true' && 'show' || 'hide'">
