<!-- Selction -->
<div class="name-field" lucondition="{{field.condition}}" ng-class="field.visible == 'true' && 'show' || 'hide'"
	>
	<label>{{field.label}}</label>
	<select lus2 ng-model="userdata[field.name]"
			luvalidation
		    	data-val="{{field.name}}"
				data-validate="validate(obligatoire)">
		<option ng-repeat="option in field.options" value="{{option.value}}">{{option.label}}</option>   
	</select>
</div>
<hr lucondition="{{field.condition}}" ng-class="field.visible == 'true' && 'show' || 'hide'"
	>