

<div id="container" class="lu-wizard">
	
		<div>NOUS ALLONS PASSER UN PETIT QUART D’HEURE ENSEMBLE</div>

		<div class="large-6 columns">
			<img src="/img/cafe.png" style="float:left;margin:15px;">
		</div>
		
		<div class="large-6 columns lu-attente-text">
			Vous vous êtes servie un petit café, un petit thé ?
Vous écoutez une musique sympa ?<br>
Moi j’écoute  <strong style="color:#FF644E">« La vie en rose » d’Edith Piaf ».</strong>
Vous êtes bien ?<br><br>

Alors papotons quelques minutes. 
Nous allons faire connaissance pour que je puisse vous confier <strong>des astuces beauté 100% personnalisées !</strong><br><br>

Pour l’instant parlons uniquement de <strong>votre peau.<strong> Je travaille dur en ce moment pour que nous puissions discuter de tous les autres sujets beauté très vite ! 

						<div>
                        	<a href="#/conseils" class="lu-bouton">GO !</a>
                        </div>

		</div>
	
</div>