

<div id="container" class="lu-wizard">
	<div class="row " style="background:#F2F2F2;padding:25px;">
		<div class="large-6 columns" style="margin-right: 15px;">
			<img src="{{conseil.imageurl}}" style="float:left;margin:15px;" 
			class="{{getClassImage()}} !== undefined && 'show' || 'hide'">

			<iframe id="ytplayer" type="text/html" width="440" height="360"
					ng-src="{{getVideoUrl()}}"
					frameborder="0" allowfullscreen style="float:left;margin:15px;"
					class="{{getClassVideo()}}"
					>
			</iframe>

			
			<hr class="{{getClassImageOrVideo()}}">
			<div class="lu-tag-conseils">
				<a href="{{conseil.link}}">En savoir +</a>
			</div>
			<div class="lu-tag-conseils" style="background:#FF644E;margin:15px; color:white;">catégorie: <span style="color:#222">{{conseil.category}}</span></div>
			<div class="lu-tag-conseils" style="background:#FF644E;margin:15px; color:white;">Thématique: <span style="color:#222">{{conseil.thematique}}</span></div>
			<div class="lu-tag-conseils" style="background:#FF644E;margin:15px; color:white;">Sous thématqiue: <span style="color:#222">{{conseil.sousthematique}}</span></div>
			
		</div>
		
		<div class="small-block-grid-1 large-block-grid-1">
			<div style="font-weight:bold">{{conseil.name}}</div>
	
			<p ng-bind-html="conseil.text"></p>
			
		</div>
	</div>
</div>