<div class="large-12 columns tr-footer" role="content">
        <article>
                <div class="small-12 large-2 columns">
                   <a class="lu-footer-link quicksand" href="#/concept">Le concept</a> 
                </div>

                <div class="small-12 large-2 columns ">
                	<a class="lu-footer-link quicksand" href="#/lucette">Qui est lucette?</a>
                </div>
               

                <div class="small-12 large-2 columns ">
                 	<a class="lu-footer-link quicksand" href="#/compte">Votre Compte</a>
                </div>
               


                <div class="small-12 large-2 columns ">
                    <a class="lu-footer-link quicksand" href="#/mentions">Mentions légales</a>
                </div>

                <div class="small-12 large-2 columns ">
                     <a class="lu-footer-link quicksand"  style="float: right;" target="_blank" href="http://www.twitter.com">
                        <img src="/img/Twitt.png">
                     </a>
                </div>

                 <div class="small-12 large-2 columns ">
                     <a class="lu-footer-link quicksand"  target="_blank" 
                     href="http://www.facebook.com">
                         <img src="/img/facebook.png">
                     </a>
                </div>
        </article>

    </div>