<section class="large-12 tr-main tr-style-triangles lato" >
        <div class="column text" style="margin-top: 50px;">
            <h2>
                Deeply Extract, Insigth and Act
            </h2>
            

            <div class="slider"><!-- your slider container -->
                <div class="slide">

                    <p class="tr-home-p" data-in="bottom"
                                         data-step="1"
                                         data-delay="100"
                                         data-position="0,0">
                        POWER, FASTER, STRONGER
                    </p> 

                    <p class="tr-home-p-second" 
                                         data-in="right"
                                         data-out="right"
                                         data-step="2"
                                         data-delay="100"
                                         data-position="250,0">
                        TrackUp is a powerful tool, to collect and extract a usefull data
                    </p>
                    <p class="tr-home-p-second" 
                                         data-in="right"
                                         data-out="bottom"
                                         data-step="3"
                                         data-delay="100"
                                         data-position="500,0">
                        TrackUp is a powerful tool, to collect and extract a usefull data
                    </p>

                    <img src="/img/mac-book.png" 
                                         data-in="top"
                                         data-out="bottom"
                                         data-step="1"
                                         data-delay="100"
                                         data-position="0,1500" style="width:1500px; height:1000px; ">            
                </div>
                <div class="slide" >
                    <p  data-in="fade" style="font-size:4em;">
                        TrackUp gives you a high performant web tracking and allow to understand the user behaviour throught the collected data
                    </p>
                    <a   class="button alert"           
                                         style="font-size:4em;"
                                         data-in="bottom"
                                         data-out="top"
                                         data-step="2"
                                         data-delay="100"
                                         data-position="500,0"
                                         href="#/dashboard"
                                         >
                        Going...start
                    </a>
                </div>
                <div class="fs_loader">
                    <img src="/img/fs-spinner.gif">
                </div>
            </div>

        </div>
        <div class="column">
            <span class="icon icon-headphones"></span>
        </div>
</section>




<section class="large-12 tr-main-2 tr-rond-triangles">
        <div class="column text">
            <h2>
                Other here
            </h2>
            <p>
                Galaxies a still more glorious dawn awaits shores of the cosmic ocean bits of moving fluff the only home we've ever known finite but unbounded colonies astonishment laws of physics a very small stage in a vast cosmic arena brain is the seed of intelligence realm of the galaxies Apollonius of Perga rogue intelligent beings courage of our questions made in the interiors
            </p>
        </div>
        <div class="column">
<span class="icon icon-headphones"></span>
        </div>
</section>


