

<div id="container" class="lu-wizard">
    <div class="row" >
        <section class="auth">
            <h2 style="font-size: 1.5em;">Créer un compte</h2>

            <div class="auth-options">
                <div class="auth-option left lu-signup">
                    <form >
                        <div style="margin:0;padding:0;display:inline">
                        </div>

                        <div class="unit text" data-validate="username" data-required="">
                            <label for="user_username">Nom</label>
                            <input id="user_username" ng-model="user.name" size="30" type="text">
                        </div>

                        <div class="unit text" data-validate="email" data-required="">
                            <label for="user_email">Email</label>
                            <input id="user_email"  size="30" type="email" ng-model="user.email" >
                        </div>

                        <div class="unit text" data-validate="password" data-required="">
                            <label for="user_password">Mot de passe</label>
                            <input id="user_password" ng-model="user.password" size="30" type="password">
                        </div>
                        <div class="unit text" >
                            <label for="user_num_tel">Numéro de téléphone</label>
                            <input id="user_num_tel" ng-model="user.phone" size="30" type="text">
                        </div>

                        <div class="actions">
                                
                                <button class="button xl ladda-button" data-style="expand-right" name="button" type="submit">
                                    <span class="ladda-label" ng-click="create()">
                                        Créer un compte
                                    </span>
                                    <span class="ladda-spinner"></span>
                                     
                                </button>
                                 <span style="cursor: pointer;color:#4d4d4d;" ng-click="signin()">
                                   déjà un compte?
                                </span>

                        </div>
                    </form>
                </div>

                <div class="auth-option left lu-signin" >

                        <div class="unit text" data-validate="email" data-required="">
                            <label style="color:red;">{{error}}</label>
                        </div>

                        <div class="unit text" data-validate="email" data-required="">
                            <label for="user_email">Email</label>
                            <input id="user_email"  size="30" type="email" ng-model="authuser.email" >
                        </div>

                        <div class="unit text" data-validate="password" data-required="">
                            <label for="user_password">Mot de passe</label>
                            <input id="user_password" ng-model="authuser.password" size="30" type="password">
                        </div>

                        <div class="actions">
                                
                            <button class="button xl ladda-button" data-style="expand-right" name="button" type="submit">
                                <span class="ladda-label" ng-click="auth()">
                                    C'est parti !!
                                </span>
                                <span class="ladda-spinner"></span>
                            </button>
                                <span style="cursor: pointer;color:#4d4d4d;" ng-click="signup()">
                                   créer un compte?
                                </span>
                        </div>
                    </div>

                <div class="auth-divider"></div>
                
                <div class="auth-option right">
                    <a href="/auth/facebook" class="auth-button facebook">
                        <span class="auth-icon icon foundicon-facebook "></span>
                        <span class="text">Connexion  <b>Facebook</b></span>
                    </a>
                </div>

                <div class="clear"></div>
                    

            </div>

           
        </section>
    </div>
</div>